{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="quotes-page">
    <header class="big-title parallax-window" data-parallax="scroll" data-image-src="{% static 'img/bank-notes.jpg' %}">
        <h1 class="text-center">{{ title }}</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sub">
                    <p  class="start-consulting">Inicie aqui sua consultoria personalizada</p>
                    <p class="quote">Faça o orçamento</p> 
                </div>
                {% include "quotes/snippets/quote_form.html" %}     
            </div>
        </div>
    </div>

</div>







{% endblock content %}