{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="company-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 parallax-window" data-parallax="scroll"
                     data-image-src="{% static 'img/abb.jpg' %}">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-md-6">
                    <h1>{{ title }}</h1>
                    <div class="description">
                        <p>
                            Responsável pela manutenção da frota de equipamentos de carga da FOSFERTIL em Uberaba, Minas
                            Gerais (guindastes, empilhadeiras e caminhões), e gestor dos contratos de manutenção
                            (andaimes, operação de equipamentos moveis, manutenção de equipamentos moveis e etc.),
                            implantação de rotina de MP e padrões para operação e plano para restabelecimento da
                            confiabilidade da frota, implantação de rotina de indicadores de desempenho (manutenção e
                            operação), bem como elaboração de treinamentos e capacitação da mão de obra.
                            Implantação de indicadores de medição de contratos por performance.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock content %}