{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="work-experience-list-page">
        <header class="big-title parallax-window" data-parallax="scroll" data-image-src="{% static 'img/engine-room.jpg' %}">
            <h1 class="text-center">{{ title }}</h1>
        </header>


        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:vale' %}" class="company-worked" id="one">
                            <div class="work-experience-description-container">
                                <strong>Vale</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/vale-7.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:abb' %}" class="company-worked" id="four">
                            <div class="work-experience-description-container">
                                <strong>ABB</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/abb-larger.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:manserv' %}" class="company-worked" id="four">
                            <div class="work-experience-description-container">
                                <strong>Manserv</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/fosfertil-5.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:mmx' %}" class="company-worked" id="two">
                            <div class="work-experience-description-container">
                                <strong class="text-center">MMX</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/mmx-13.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:harsco' %}" class="company-worked" id="four">
                            <div class="work-experience-description-container">
                                <strong>Harsco</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/harsco-8.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:ets' %}" class="company-worked" id="three">
                            <div class="work-experience-description-container">
                                <strong>ETS</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/ets-28.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-12">
                    <header>
                        <a href="{% url 'blog:transpanorama' %}" class="company-worked" id="three">
                            <div class="work-experience-description-container">
                                <strong>ETS</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/transpanorama-2.jpg' %}"/>
                        </a>
                    </header>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}