{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="company-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 parallax-window" data-parallax="scroll"
                     data-image-src="{% static 'img/vale-2.jpg' %}">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-md-6">
                    <h1>{{ title }}</h1>
                    <div class="description">
                        <p>
                            Responsável pela coordenação de oficinas e manutenção complementar (Oficina de mecânica,
                            usinagem, oficina de caldeiraria, oficina elétrica, oficina de instrumentação,
                            ferramentaria, lubrificação industrial, manutenção de máquinas móveis, guindastes e etc,
                            corretiva eletromecânica de turno, manutenção de linhas em FRP e RPVC, manutenção civil e
                            refratários, andaimes) tendo sob meu comando uma equipe de 130 pessoas, na planta da
                            Fosfértil no complexo industrial de Uberaba/MG. Dentre as atividades desenvolvidas, destaco:
                            Gestão das equipes de manutenção (supervisores, encarregados, líderes e executantes), gestão
                            dos processos de manutenção, coordenação das programações de paradas da planta, controle de
                            indicadores de desempenho do contrato, gestão de custos, 5S, segurança, medição de
                            performance junto ao cliente e etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock content %}