{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="company-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 parallax-window" data-parallax="scroll"
                     data-image-src="{% static 'img/transpanorama-2.jpg' %}">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-md-6">
                    <h1>{{ title }}</h1>
                    <div class="description">
                        <div class="occupation">
                            <header>
                                <h5>
                                    <i class="fas fa-briefcase"></i>
                                    <strong>Cargo</strong>
                                </h5>
                            </header>
                            <p>Gerente</p>
                        </div>
                        <div class="job">
                            <header>
                                <h5>
                                    <i class="fas fa-cogs"></i>
                                    <strong>Função</strong>
                                </h5>
                            </header>
                            <ul>
                                <li>
                                    <span>-</span> Gerenciamento da manutenção das frotas de caminhões e carretas da empresa em todo território
                                    nacional, implantação de gestão de manutenção preventiva e preditiva,
                                </li>
                                <li>
                                    <span>-</span> Implantação de PCM e engenharia de manutenção, medição de KPI’s, gestão de orçamentos e custos, 
                                    e liderança de equipes de oficina.
                                </li>
                                <li>
                                    <span>-</span> Implantação de rotina de indicadores de desempenho (manutenção e operação), bem como elaboração de 
                                    treinamentos e capacitação da mão de obra.
                                </li>
                                <li>
                                    <span>-</span> Implantação de indicadores de medição de contratos por performance.
                                </li>
                            </ul>
                        </div>
                        <div class="location">
                            <header>
                                <h5>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <strong>Localização</strong>
                                </h5>
                            </header>
                            <p id="address">Maringá - PR</p>
                            <div class-google-maps-api></div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock content %}