{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="company-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 parallax-window" data-parallax="scroll"
                     data-image-src="{% static 'img/vale-7.jpg' %}">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-md-6">
                    <h1>{{ title }}</h1>
                    <div class="description">
                        <div class="occupation">
                            <header>
                                <h5>
                                    <i class="fas fa-briefcase"></i>
                                    <strong>Cargo</strong>
                                </h5>
                            </header>
                            <p>Gerente</p>
                        </div>
                        <div class="job">
                            <header>
                                <h5>
                                    <i class="fas fa-cogs"></i>
                                    <strong>Função</strong>
                                </h5>
                            </header>
                            <ul>
                                <li>
                                    <span>-</span>
                                    Supervisão da equipe de manutenção da frota de equipamentos móveis do complexo 
                                    portuário de tubarão, onde desenvolvi todas as atividades referentes à gestão dos 
                                    equipamentos (custos, indicadores de desempenho e etc.), implantação da rotina de 
                                    inspeção, planejamento, programação e execução, e de manutenção preditiva. 
                                </li>
                                <li>
                                    <span>-</span>
                                    Criação e implantação de rotina de gestão e controle de combustíveis
                                    Acompanhamento e definição de níveis de reparos em equipamentos e componentes junto aos
                                    fornecedores, implantação do controle de contaminação em sistemas hidráulicos (filtragem off
                                    line, sistemas de abastecimento através de engates rápidos).
                                </li>
                                <li>
                                    <span>-</span>
                                    Inspeção sensitiva de equipamentos móveis, realização de TA (Análise Técnica) em 
                                    equipamentos Caterpillar e Volvo, gestão de manutenção preditiva (análise de fluidos), 
                                    planejamento e programação da manutenção.
                                </li>
                                <li>
                                    <span>-</span>
                                    Medições de fumaça na escala RINGHELMMAN, acompanhamento de reparo em motores, transmissões, 
                                    comandos finais e demais componentes nos distribuidores, medição e controle de vida útil em pneus, e
                                    execução de manutenção preventiva e corretiva na frota.
                                </li>
                            </ul>
                        </div>
                        <div class="location">
                            <header>
                                <h5>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <strong>Localização</strong>
                                </h5>
                            </header>
                            <p id="address">Vitória - ES</p>
                            <div class-google-maps-api></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock content %}