{% load static %}
<footer class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'img/ss-logo-1.png' %}" alt="SS Serviços Automotivos"/>
        </div>
        <div class="col-md-6">
            <ul class="footer-navbar-menu">
                <li><a href="{% url 'homepage' %}">HOME</a></li>
                <li><a href="{% url 'blog:home' %}">BLOG</a></li>
                <li><a href="{% url 'consulting' %}">CONSULTORIA</a></li>
                <li><a href="{% url 'contact' %}">CONTATO</a></li>
                <li><a href="{% url 'about' %}">SOBRE</a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <hr/>
        </div>
        <div class="col-md-6">
            <p class="copyright">© Copyright 2019 SS Consulting</p>
        </div>
        <div class="col-md-6">
            <ul class="social-media-list">
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.linkedin.com/in/milton-santos-7a53712a/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
</footer>