{% url 'homepage' as homepage_url %}
{% url 'contact' as contact_url %}
{% url 'blog:home' as blog_home_url %}
{% url 'consulting' as consulting_url %}
{% url 'about' as about_url %}

{% load static %}
<footer class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="{% static 'img/ss-logo-1.png' %}" alt="SS Serviços Automotivos" />
		</div>
		<div class="col-md-6">
			<ul class="footer-navbar-menu">
				<li><a href="{{ homepage_url }">HOME</a></li>
				<li><a href="{{ blog_home_url }}">BLOG</a></li>
				<li><a href="{{ consulting_url }}">CONSULTORIA</a></li>
				<li><a href="{{ contact_url }}">CONTATO</a></li>
				<li><a href="{{ about_url }}">SOBRE</a></li>
			</ul>
		</div>
		<div class="col-md-12">
			<hr/>
		</div>
		<div class="col-md-6">
		<p class="copyright">© Copyright 2019 SS Serviços Automotivos</p>
		</div>
		<div class="col-md-6">
			<ul class="social-media-list">
				<li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
			</ul>
		</div>
	</div>
</footer>