
.consulting-page .big-title {
    height: 400px;
}

.consulting-page .big-title h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    transform: translateY(150px);
}

.consulting-page .about-container {
    margin: 4rem 0 2rem 0;
}

.consulting-page .about-container p {
    color: #333;
    font-size: 20px;
}