.big-title {
    display: block;
    height: 50rem;
    z-index: -999;
    width: 100%;
}

.big-title .title h1,
.big-title .title h4 {
    color: #fff;
    z-index: 999;
    transform: translateY(20rem)
}

.consulting-section {
    padding: 40px;
}

.consulting-section #consulting-img {
    border-radius: 100%;
    padding: 5px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}


.consulting-section #section-title::after {
    content: '';
    height: 3px;
    width: 6rem;
    margin: 0 auto;
    display: block;
    background: #000;
    transform: translateY(0.3rem);
}

.consulting-section p {
    color: #666;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 20px;
    transform: translateY(-20px)
}

.consulting-section a {
    position: relative;
    margin: 2.5rem auto;
    color: #666;
    padding: 15px 20px;
    border: 2px solid #666;
    display: table;
    font-weight: 500;
    font-size: 20px;
    transition: .2s all ease-in-out;
    border-radius: 3px;
}
.consulting-section a:hover {
    background: #666;
    color: #fff;
    text-decoration: none;
}

.work-experience-section {
    background: #fff;
    padding: 5rem 0 0 0;
}

.consulting-section #section-title,
.work-experience-section #section-title,
.about-section #section-title {
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.work-experience-section #section-title::after {
    content: '';
    width: 13rem;
    height: 3px;
    background: #37669d;
    display: block;
    position: relative;
    margin: 0 auto;
    transform: translateY(0.3rem);
}

.work-experience-section a  {
    height: 250px;
    width: 100%;
}



.work-experience-section .section-header p {
    text-align: center;
    margin-bottom: 2.5rem;
}

.work-experience-section .section-header p a {
    color: #37669d;
    font-size: 18px;
    padding: 7px 10px;
    border: 3px solid #37669d;
    border-radius: 5px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.work-experience-section header p a:hover {
    background: #37669d;
    color: #fff;
    text-decoration: none;
}

.work-experience-section .work-experience-description-container {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 100%;
    padding: 15px;
    opacity: 0;
}

.work-experience-section .col-md-6 {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.work-experience-section .work-experience-description-container strong {
    color: #000;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 30px;
}

.work-experience-section .work-experience-description-container p {
    color: #000;
    font-size: 20px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.work-experience-section a img {
    width: 100%;
}

.work-experience-section h5 {
    margin: 10px 0 0 0;
    font-size: 25px;
}


.about-section {
    padding: 40px 0;
}

.about-section header {
    padding: 2rem 0;
}

.about-section {
    background: #37669d;
}

.about-section #section-title {
    color: #fff;
    margin-bottom: 0;
}


.about-section img {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    padding: 5px;
    background: #fff;
}

.about-section h6 {
    color: #fff;
    font-size: 22px;
    margin-top: 15px;
    letter-spacing: 1px;
}

.about-section #linkedin {
    border: unset;
    margin: 0 auto;
    font-size: 25px;
}

.about-section p {
    color: #fff;
    text-align: justify;
}

.about-section #section-title::after {
    content: "";
    background: #fff;
    height: 3px;
    width: 3rem;
    display: block;
    margin: 0 auto;
    transform: translateY(0.4rem);
}

.about-section #header-educacao,
.about-section #header-profissional {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
}

.about-section a {
    position: relative;
    margin: 2.5rem auto;
    color: #fff;
    padding: 15px 20px;
    border: 2px solid #fff;
    display: table;
    font-weight: 500;
    font-size: 20px;
    transition: .2s all ease-in-out;
    border-radius: 3px;
}

.about-section a:hover {
    text-decoration: none;
    background: #fff;
    color: #37669d
}

.contact-section {
    background: #fff;
}

.contact-section header #section-title {
    font-size: 2.2rem;
    margin: 3rem 0 3rem 0;
    color: #000; 
    
}

.contact-section header #section-title::after {
    content: "";
    background: #000;
    height: 3px;
    width: 14rem;
    display: block;
    margin: 0 auto;
    transform: translateY(0.4rem);
}

.contact-section form {
    box-sizing: border-box;
}

.contact-section form p,
.contact-section form p {
    margin: 0.5rem;
}

.contact-section form p input,
.contact-section form p textarea {
    display: block;
    max-width: 35rem;
    min-width: 5rem;
    margin:  auto;
    padding: 10px 30px;
    background: rgba(73, 80, 87, 0.2);
    text-align: center;
    color: #495057;
    border: none;
    font-size: 1.1rem;
    border-radius: 20px;
    transition: 0.3s all ease-in-out;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2)
}

.contact-section form p input:focus,
.contact-section form p textarea:focus {
    box-shadow: none;
}

.contact-section form p textarea {
    resize: none;
}

.contact-section form p input:focus,
.contact-section form p textarea:focus,
.contact-section form button:focus {
    outline: none;
    transition: 0.4s all ease-in-out;
}

.contact-section form button {
    display: block;
    max-width: 35rem;
    min-width: 5rem;
    text-align: center;
    font-size: 25px;
    color: #495057;
    margin: 0 auto 3rem auto;
    background: transparent;
    border: none;
    padding: 10px 0;
    transition: 0.1s all ease-in-out;
}

.contact-section form button:hover {
    background: #fff;
    cursor: pointer;
}

.contact-section form button:active {
    transform: translateY(2px);
}



@media screen and (max-width: 408px) {
    .consulting-section #consulting-img {
        height: 250px!important;
        width: 250px!important;
    }
}
