.big-title {
    display: block;
    height: 50rem;
    z-index: -999;
    width: 100%;
}

.big-title .title h1,
.big-title .title h4 {
    color: #fff;
    z-index: 999;
    transform: translateY(20rem)
}


.consulting-section {
    background: #fff;
}

.consulting-section a  {
    height: 250px;
    width: 250px;
}

.consulting-section a img {
    border-radius: 1%;
    
}

.consulting-section h5 {
    margin: 10px 0 0 0;
    font-size: 25px;
}