{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="about-page">
    <header class="big-title parallax-window" data-parallax="scroll" data-image-src="{% static 'img/info.jpg' %}">
        <h1 class="text-center">{{ title }}</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="education-header">
                    <h2 class="text-center">FORMAÇÃO</h2>
                </header>
            </div>
            <div class="col-md-4">
                <div class="graduation-container">
                    <img id="mec" src="{% static 'img/engenharia-mecanica-dark.png' %}" alt="Técnico"/>
                    <h4>Técnico</h4>
                    <h3>Mecânica</h3>
                    <h5>IFES</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="graduation-container">
                    <img id="adm" src="{% static 'img/administracao-dark.png' %}" alt="Administração"/>
                    <h4>Graduação</h4>
                    <h3>Administração</h3>
                    <h5>FCB</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="graduation-container">
                    <img id="maintainance" src="{% static 'img/engenharia-2-dark.png' %}" alt="Engenharia de Manutenção"/>
                    <h4>Pós-Graduação</h4>
                    <h3>Engenharia de Manutenção</h3>
                    <h5>UFES</h5>
                </div>
            </div>

            <div class="col-md-12">
                <header class="education-header">
                    <h2 class="text-center">QUEM EU SOU?</h2>
                </header>
            </div>
            <div class="col-md-12">
                <div class="about-container">
                    <p>
                        Profissional com mais de 30 anos de 
                        experiência e vivência em manutenção de 
                        frotas de caminhões rodoviários e fora de 
                        estrada, automóveis, equipamentos de mineração 
                        e construção, como carregadeiras de rodas, 
                        tratores de esteira e pneus, escavadeiras, 
                        perfuratrizes e guindastes. 
                    </p>
                    <p>
                        Atuei em grandes 
                        empresas no Brasil. Iniciei minha vida profissional 
                        como mecânico de maquinas, caminhões e automóveis, 
                        conhecendo e vivenciando as evoluções deste segmento 
                        ao longo dos anos. Sempre busco o aperfeiçoamento e 
                        atualização em novas tecnologias, de modo a me manter 
                        atualizado frente ao mercado.
                    </p>

                    {% comment %} <p>
                    Sou técnico em 
                    mecânica formado pela Escola Técnica Federal 
                    do Espirito Santo – ETFES, atual IFES, graduado 
                    em Administração de Empresas, e pós-graduado em 
                    Engenharia de Manutenção pela Universidade Federal 
                    do Espirito Santo – UFES, com o título de Especialista 
                    em Manutenção, com especialidade em “Planejamento, 
                    programação e controle da manutenção”.
                    </p> {% endcomment %}
                
                </div>
                
            </div> 

        </div>
        
    </div>

</div>







{% endblock content %}