{% extends "base.html" %}

{% block content %}

    {% load static %}

    <div class="consulting-page">
        <header class="big-title parallax-window" data-parallax="scroll" data-image-src="{% static 'img/consulting-page-hero.jpg' %}">
            <h1 class="text-center">{{ title }}</h1>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="consulting-container">
                        <h4><strong>O que é a SS Consulting?</strong></h4>
                        <p>
                            Um serviço de consultoria automotiva que irá lhe auxiliar na compra
                            do seu automóvel usado.
                        </p>
                        <p>
                            Solucionaremos a dificuldade na hora da escolha, o medo de ser enganado(a). Foi pensando nessas pessoas que
                            surgiu a SS Consulting. 
                        </p> 
                        <br>
                        <h4><strong>O que buscamos oferecer?</strong></h4>
                        <p>
                            Assessoria na compra de veículos usado sem surpressas indesejadas.
                        </p>
                        <p>
                            Mediante uma inspeção criteriosa, iremos analisar os aspectos
                            mecânicos, elétricos, estruturais e pintura, te dando subsídios para uma boa compra do seu próximo veículo.
                        </p>                        
                    </div>
                    <a href="{% url 'quotes:home' %}">FAÇA SEU ORÇAMENTO</a>
                </div>
            </div>
        </div>

    </div>







{% endblock content %}