{% extends "base.html" %}

{% block content %}

    {% load static %}

    <div class="consulting-page">
        <header class="big-title parallax-window" data-parallax="scroll" data-image-src="{% static 'img/papers-1.jpg' %}">
            <h1 class="text-center">{{ title }}</h1>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cons-container">
                        <p>
                            Como comprar um carros usado sem sustos ? Ouvimos frequentemente pessoas fazendo perguntas
                            desse tipo, pois não possuem um conhecimento específico sobre automóveis, tem dificuldade na
                            hora da escolha, tem medo de serem enganadas, e por aí vai. Foi pensando nessas pessoas que
                            surgiu a SS Consulting, um serviço de consultoria automotiva que irá lhe auxiliar na compra
                            do seu automóvel usado. Mediante uma inspeção criteriosa, iremos analisar os aspectos
                            mecânicos, elétricos, estruturais e pintura, te dando subsídios para uma boa compra. Ao
                            invés de você levar o carro até uma oficina, a oficina vai até o carro.
                        </p>


                    </div>

                </div>


            </div>
        </div>

    </div>







{% endblock content %}