{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="big-title parallax-window" data-parallax="scroll" data-image-src="{% static 'img/car.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1 class="text-center">{{ title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="consulting-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h2 class=text-center id="section-title">SERVIÇO</h2>
                    </header>
                </div>
                <div class="col-md-7">
                    <p>
                        A SS Autoconsulting oferece a você, que deseja adquirir um veículo
                        usado ou seminovo, a segurança de realizar sua compra sem medo. Fazemos
                        avaliação do veículo pretendido, observando os aspectos de funcionamento
                        do motor, transmissão, suspensão, sistemas elétricos, freios, integridade
                        estrutural e estética, e por fim, uma varredura no sistema eletrônico em
                        busca de possíveis falhas presentes. Dessa forma, podemos emitir nosso
                        parecer profissional de forma a te dar subsídios para sua tomada de decisão.
                    </p>
                </div>
                <div class="col-md-5">
                    <img id="consulting-img" alt="Consultoria" src="{% static '/img/office.jpg' %}"/>
                </div>
                <div class="col-md-12">
                    <a href="{% url 'consulting' %}">SAIBA MAIS</a>
                </div>
            </div>
        </div>

    </section>

    <section class="work-experience-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <header class="section-header">
                        <h2 class="text-center" id="section-title">TRAJETÓRIA PROFISSIONAL</h2>
                        <p><a id="list" href="{% url 'blog:list' %}">VER LISTA COMPLETA</a></p>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:vale' %}" class="company-worked" id="one">
                            <div class="work-experience-description-container">
                                <strong>Vale</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/vale-7.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:abb' %}" class="company-worked" id="four">
                            <div class="work-experience-description-container">
                                <strong>ABB</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/abb-larger.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:manserv' %}" class="company-worked" id="four">
                            <div class="work-experience-description-container">
                                <strong>Manserv</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/fosfertil-5.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:mmx' %}" class="company-worked" id="two">
                            <div class="work-experience-description-container">
                                <strong class="text-center">MMX</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/mmx-13.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:harsco' %}" class="company-worked" id="four">
                            <div class="work-experience-description-container">
                                <strong>Harsco</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/harsco-8.jpg' %}"/>
                        </a>
                    </header>
                </div>
                <div class="col-md-6">
                    <header>
                        <a href="{% url 'blog:ets' %}" class="company-worked" id="three">
                            <div class="work-experience-description-container">
                                <strong>ETS</strong>
                                <p id="description">
                                    Clique para mais detalhes
                                </p>
                            </div>
                            <img src="{% static 'img/ets-28.jpg' %}"/>
                        </a>
                    </header>
                </div>
            </div>
        </div>
    </section>


    <div class="about-section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h2 class="text-center" id="section-title">SOBRE</h2>
                    </header>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'img/profile.jpeg' %}" alt="Milton Santos"/>
                    <h6 class="text-center">Milton Santos Silva</h6>
                    <a id="linkedin" href="https://www.linkedin.com/in/milton-santos-7a53712a/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-md-7">
                    <div class="col-md-12">
                        <header>
                            <h3 class="text-center" id="header-educacao">FORMAÇÃO</h3>
                        </header>
                        <p>
                            Sou técnico em mecânica formado pela Escola Técnica Federal do Espirito Santo – ETFES, 
                            atual IFES, graduado em Administração de Empresas, e pós-graduado em Engenharia de 
                            Manutenção pela Universidade Federal do Espirito Santo – UFES, com o título de 
                            Especialista em Manutenção, com especialidade em “Planejamento, programação e controle 
                            da manutenção”...
                        </p>
                    </div>
                    <div class="col-md-12">
                        <header>
                            <h3 class="text-center" id="header-educacao">PROFISSIONAL</h3>
                        </header>
                        <p>
                            Profissional com mais de 30 anos de experiência e vivência em manutenção de frotas 
                            de caminhões rodoviários e fora de estrada, automóveis, equipamentos de mineração e 
                            construção, como carregadeiras de rodas, tratores de esteira e pneus, escavadeiras, 
                            perfuratrizes e guindastes. 
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <a href="{% url 'about' %}" class=text-center>SAIBA MAIS</a>
                </div>
            </div>
        </div>


    </div>

    <section class="contact-section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h2 class="text-center" id="section-title">ENTRE EM CONTATO</h2>
                    </header>
                    {% include "snippets/contact_form.html" %}
                </div>
            </div>
        </div>


    </section>


{% endblock content %}