{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="big-title parallax-window" data-parallax="scroll" data-image-src="{% static 'img/car.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1 class="text-center">{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="consulting-section">


</section>
{% load static %}
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/car.jpg' %}">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>





</div>
<section class="consulting-section">


</section>

{% endblock content %}