
.consulting-page .big-title {
    height: 400px;
}

.consulting-page .big-title h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    transform: translateY(150px);
}

.consulting-page .consulting-container {
    margin: 4rem 0 2rem 0;
    display: block;
}

.consulting-page .consulting-container p {
    color: #555;
    font-size: 25px;
    text-align: justify;
}

.consulting-page a {
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    letter-spacing: 1px;
    background: #555;
    display: table;
    border: 3px solid #555;
    transition: all .3s ease-in-out;
}

.consulting-page a:hover {
    text-decoration: none;
    background: #fff;
    color: #555;
    border: 3px solid #555;
}


@media screen and (max-width: 767px) {
    .consulting-page .big-title h1 {
        font-size: 3rem;
    }

    .consulting-page .consulting-container p {
        font-size: 17px;
    }

    .consulting-page a {
        padding: 0.5rem 1rem;
        font-size: 15px;
    }
}

@media screen and (max-width: 538px) {
    .consulting-page .big-title h1 {
        font-size: 2.5rem;
    }


    .consulting-page .consulting-container p {
        font-size: 16px;
    }
    
    .consulting-page a {

    }
}
